/* Paleta de Colores*/

:root {
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario: #791D20;
    --gris: #757575;
    --azul: #070C49;
    --rojo: #B4080D;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}


/* Globales */

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
}


/* Body */

body {
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
}

img {
    max-width: 100%;
}

.col img {
    height: 30rem;
}


/* Header */

header {
    background-image: url("../imagenes/fondo-titulo.jpg");
    background-position: center center;
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    height: 60rem;
    background-size: cover;
    margin-bottom: 0 auto;
}

.nav-item a {
    color: var(--blanco);
    font-weight: bold;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu a {
    color: var(--oscuro);
    font-size: 1.5rem;
}

.titulo_principal {
    font-size: 10rem;
    text-align: center;
    color: var(--blanco);
    margin-top: 8rem;
}

@media (max-width: 480px) {
    .titulo_principal {
        font-size: 5rem;
    }
    header {
        width: 20rem;
    }
}

@media (max-width: 768px) {
    .titulo_principal {
        font-size: 7rem;
    }
}

@media (max-width: 400px) {
    .titulo_principal {
        font-size: 4rem;
    }
}


/* Contenido de la Estructura Principal */


/* Contenido index */

.contenido-index {
    background-color: var(--gris);
    height: 100%;
    color: var(--blanco);
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    background-size: cover;
}

.contenido-index__conciertos--conciertosTitulo {
    text-align: center;
}

.contenido-index__conciertos--conciertosTexto {
    text-align: center;
    margin: 2rem 2rem;
}

.contenido-index__conciertos--conciertosEnlace {
    color: var(--blanco);
}

.carousel-item img {
    margin: auto;
}

.contenido-index__actividades {
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contenido-index__actividades--actividadesTitulo {
    text-align: center;
    margin: 2rem 2rem;
}

.card-body {
    background-color: var(--oscuro);
}

.card-img-top:active {
    transform: scale(1.5, 1.5);
    width: 100%;
}

.contenido-index__experiencias--experienciasTitulo {
    text-align: center;
    margin: 2rem 2rem;
}

.contenido-index__experiencias {
    margin-left: 3rem;
    margin-right: 3rem;
}

.imagen-experiencia:active {
    transform: scale(2, 2);
}


/* Footer */

footer {
    background-color: var(--oscuro);
    background-image: linear-gradient(to left, var(--oscuro), var(--gris));
    display: flex;
}

.footer__contenido {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.footer__contenido--enlaces {
    color: var(--blanco);
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.footer__contenido--enlaces:hover {
    background-color: var(--oscuro);
    color: var(--gris);
}

@media (max-width: 768px) {
    .footer__contenido--enlaces {
        margin: auto;
        margin-bottom: 2rem;
    }
}


/* Cursos y Carreras */

.cursos-carreras {
    background-color: var(--gris);
    height: 100%;
    color: var(--blanco);
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    background-size: cover;
}

.card-body {
    color: var(--blanco);
}

.card-body h5 {
    font-size: 3rem;
}


/* Conciertos */

.conciertos_contenido {
    background-color: var(--gris);
    height: 100%;
    color: var(--blanco);
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    background-size: cover;
    padding: 2rem;
}

.conciertos2017 {
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.conciertos2018 {
    text-align: center;
    margin-right: 3rem;
}

.conciertos2019 {
    text-align: center;
    margin-right: 2rem;
}

.conciertos2020 {
    text-align: center;
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .conciertos_contenido {
        display: grid;
    }
}

@media (min-width: 769px) {
    .conciertos_contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 991px) {
    .conciertos_contenido {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Alumnos */

.ingreso-alumnos {
    background-color: var(--gris);
    height: 100%;
    color: var(--blanco);
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    background-size: cover;
    text-align: center;
}

.alumnos-titulo {
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
    padding: 2rem;
}

.formulario {
    margin-top: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    background-image: url("../imagenes/alumnos.jpg");
    background-position: center center;
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    height: 40rem;
    background-size: cover;
}

.formulario_usuario {
    font-weight: bold;
    margin-right: 1rem;
    color: var(--blanco);
    margin-top: 3rem;
}

.formulario_contrasenia {
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--blanco);
}

.formulario_boton {
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
    margin-left: 2rem;
}

.formulario_recordarme {
    margin-left: 2rem;
    margin-top: 3rem;
}

.formulario_recordarme-titulo {
    color: var(--blanco);
    font-size: 1.5rem;
}


/* Contacto */

.contacto {
    background-color: var(--gris);
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    background-size: cover;
}

.contacto-titulo {
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.formulario-contacto {
    height: 100%;
    color: var(--blanco);
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: url("../imagenes/alumnos.jpg");
    background-position: center center;
    background-blend-mode: soft-light;
    background-color: rgb(50, 50, 50);
    height: 40rem;
    background-size: cover;
}